@tailwind base;
@tailwind components;
@tailwind utilities;

/* Swiper pagination customization */
.swiper-pagination-bullet {
  background: white !important;
  opacity: 0.5 !important;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
}

